<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parv's Terminal Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="floating-header">
   Welcome to Parv Ghai's Interactive Portfolio — type a 'hi' below!
</div>
    <div class="terminal">
        <div id="output" class="output"></div>
        <div class="input-line">
            <span class="prompt">➜</span>
            <input type="text" id="terminal-input" autofocus autocomplete="off" />
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
